footer{
    width: 100%;
    padding: 100px 0;
    background-color: #000;
    .inner{
        width: 1180px;
        margin: 0 auto; 
        display: flex;
        justify-content: space-between;
        .pic{
            width: 400px;
            height: 200px;
        }       
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }                    
        ul{
            margin-top: 50px;
            float: right;
            li{
                float: left;
                margin-left: 20px;
                margin-bottom: 50px;
                a{
                    font: bold 16px/1 "arial";
                    color: #fff;
                    padding: 14px 40px;
                    &:hover{
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
            span{
                display: block;
                a{
                    float: left;
                    font-size: 35px;
                    color: #fff;
                    padding: 14px 40px;
                    :hover{
                        color: orange;
                    }
                }
            }
        }      
    }
}

@media screen and (max-width: 291px) {
    footer{
        .inner{
            .pic{
                display: none;
            }
            width: 100%;
            display: inline-block;               
            ul{
                float: none;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    margin-left: 5px;
                    a{
                        padding: 14px 0;
                    }
                }
                span{
                    a{
                        padding: 14px 20px;
                        font-size: 25px;
                    }
                    margin-left: 20px;
                }  
            }       
        }
    }
}